:where(
  textarea,
  input:not(
    [type="button"],
    [type="checkbox"],
    [type="color"],
    [type="file"],
    [type="hidden"],
    [type="image"],
    [type="radio"],
    [type="range"],
    [type="reset"],
    [type="submit"]
  )
) {
  width: 100%;
  height: var(--form-control-height);
  padding: 0 var(--form-control-padding-inline);

  color: var(--form-control-value-color);
  font-size: var(--form-control-value-font-size);
  font-family: inherit;
  font-weight: var(--form-control-value-font-weight);
  line-height: var(--form-control-value-line-height);
  vertical-align: middle;
  cursor: var(--cursor-text, text);

  background-color: var(--form-control-fill-color);
  border-color: var(--form-control-stroke-color);
  border-style: var(--form-control-stroke-style);
  border-width: var(--form-control-stroke-width);
  border-radius: var(--form-control-corner-radius);
  corner-shape: var(--corner-shape, round);

  &::placeholder {
    color: var(--form-control-placeholder-color);
    user-select: none;
    -webkit-user-select: none;
  }

  &:focus {
    outline: none;
  }

  &:focus-visible {
    outline: var(--focus-ring);
    outline-offset: var(--focus-ring-offset);
  }

  &:disabled {
    opacity: var(--disabled-opacity);
    cursor: var(--cursor-not-allowed, not-allowed);
  }

  &.outlined {
    background-color: var(--form-control-fill-color);
    border-color: var(--form-control-stroke-color);
  }

  &.subtle {
    background-color: var(--color-neutral-fill-subtle);
    border-color: var(--color-neutral-fill-subtle);

    &.outlined {
      border-color: var(--form-control-stroke-color);
    }
  }

  &.pill {
    border-radius: var(--corner-radius-pill);
  }
}

:where(textarea) {
  height: auto;
  min-height: var(--form-control-height);
  padding: calc(var(--form-control-padding-block) - ((1lh - 1em) / 2)) var(--form-control-padding-inline);
  line-height: var(--line-height-normal);
  resize: vertical;
}

:where(input[type="color"]) {
  display: block;

  block-size: var(--form-control-height);
  inline-size: var(--form-control-height);
  padding: calc(var(--form-control-stroke-width) * 2);
  font-size: 1em;
  background: transparent;
  border-width: var(--form-control-stroke-width);
  border-style: var(--stroke-style);
  border-color: var(--form-control-stroke-color);
  border-radius: var(--form-control-corner-radius);
  corner-shape: var(--corner-shape, round);
  cursor: var(--cursor-pointer, pointer);
  forced-color-adjust: none;

  &::-webkit-color-swatch-wrapper {
    padding: 0;
    border-radius: inherit;
    corner-shape: var(--corner-shape, round);
  }

  &::-webkit-color-swatch {
    border: none;
    border-radius: calc(var(--form-control-corner-radius) - var(--form-control-stroke-width) * 3);
    corner-shape: var(--corner-shape, round);
  }

  &::-moz-color-swatch {
    border: none;
    border-radius: calc(var(--form-control-corner-radius) - var(--form-control-stroke-width) * 3);
    corner-shape: var(--corner-shape, round);
  }

  &:focus-visible {
    outline: var(--focus-ring);
    outline-offset: var(--focus-ring-offset);
  }
}

:where(input[type="range"]) {
  --thumb-width: 1.4em;
  --thumb-height: 1.4em;
  --track-size: 0.5em;
  -webkit-appearance: none;

  display: flex block;
  flex-flow: column;
  position: relative;

  width: 100%;
  height: var(--track-size);
  margin: 0;

  font-size: inherit;
  line-height: var(--form-control-height);
  vertical-align: middle;

  background-color: var(--color-neutral-fill-normal);
  border-radius: calc(var(--track-size) / 2);
  corner-shape: var(--corner-shape, round);

  &::-webkit-slider-runnable-track {
    width: 100%;
    height: var(--track-size);
    border: none;
    border-radius: 999px;
    corner-shape: var(--corner-shape, round);
  }

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: var(--thumb-width);
    height: var(--thumb-height);
    margin-top: calc(var(--thumb-height) / -2 + var(--track-size) / 2);

    background-color: var(--form-control-activated-color);
    border-width: 0.125em;
    border-style: solid;
    border-color: var(--color-layer-base);
    border-radius: 50%;
    corner-shape: var(--corner-shape, round);
  }

  &:enabled {
    &:focus-visible::-webkit-slider-thumb {
      outline: var(--focus-ring);
      outline-offset: var(--focus-ring-offset);
    }

    &::-webkit-slider-thumb {
      cursor: var(--cursor-pointer, pointer);
    }

    &::-webkit-slider-thumb:active {
      cursor: var(--cursor-grabbing, grabbing);
    }
  }

  &::-moz-focus-outer {
    border: 0;
  }

  &::-moz-range-progress {
    height: var(--track-size);
    background-color: var(--color-neutral-fill-normal);
    border-radius: 3px;
    corner-shape: var(--corner-shape, round);
  }

  &::-moz-range-track {
    width: 100%;
    height: var(--track-size);
    background-color: var(--color-neutral-fill-normal);
    border: none;
    border-radius: 999px;
    corner-shape: var(--corner-shape, round);
  }

  &::-moz-range-thumb {
    width: var(--thumb-width);
    height: var(--thumb-height);

    background-color: var(--form-control-activated-color);
    border: solid 0.125em var(--color-layer-base);
    border-radius: 50%;
    corner-shape: var(--corner-shape, round);
  }

  &:enabled {
    &:focus-visible::-moz-range-thumb {
      outline: var(--focus-ring);
      outline-offset: var(--focus-ring-offset);
    }

    &::-moz-range-thumb {
      cursor: var(--cursor-pointer, pointer);
    }

    &::-moz-range-thumb:active {
      cursor: var(--cursor-grabbing, grabbing);
    }
  }
}

label > input[type="range"] {
  margin-block-start: 1em;
}

input[type='range']:focus {
  outline: none;
}

input[type='range']:disabled {
  opacity: var(--disabled-opacity);

  cursor: var(--cursor-not-allowed, not-allowed);

  &::-webkit-slider-thumb {
    cursor: var(--cursor-not-allowed, not-allowed);
  }

  &::-moz-range-thumb {
    cursor: var(--cursor-not-allowed, not-allowed);
  }
}