:where(:has(> .ribbon)) {
  position: relative;
}

:where(.ribbon) {
  position: absolute;
  display: flex inline;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  font-size: var(--font-size-xs);
  line-height: var(--line-height-normal);
  font-weight: var(--font-weight-semibold);
  gap: var(--space-3xs);
  padding-inline: var(--space-2xs);
  padding-block: var(--space-3xs);
  background-color: var(--color-fill-subtle, var(--color-neutral-fill-subtle));
  color: var(--color-on-subtle, var(--color-neutral-on-subtle));
  border-width: var(--stroke-width-s);
  border-style: var(--stroke-style);
  border-color: transparent;
  border-radius: var(--corner-radius-m);
  corner-shape: var(--corner-shape) var(--corner-shape) square var(--corner-shape);
  min-block-size: 1lh;
  inline-size: fit-content;
  inset-block-start: 2px;
  text-transform: uppercase;
  box-shadow: var(--shadow-m);

  &::before {
    content: '';
    position: absolute;
    border-width: var(--space-xs);
    border-style: solid;
    border-color: transparent;
    border-top-color: var(--color-stroke-subtle);
    inset-block-start: calc(100% + 1px);
  }

  &.start {
    inset-inline-start: calc((var(--position-nudge, 0px) + var(--space-s)) * -1);

    &::before {
      border-inline-start-width: var(--space-s);
      border-inline-end-width: 0;
      inset-inline-start: -1px;
    }
  }

  &.end {
    inset-inline-end: calc((var(--position-nudge, 0px) + var(--space-s)) * -1);

    &::before {
      border-inline-start-width: 0;
      border-inline-end-width: var(--space-s);
      inset-inline-end: -1px;
    }
  }
}