:where(.breadcrumb) {
  display: flex block;
  gap: var(--space-s);
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    display: flex inline;
    margin: 0;
  }
  
  .breadcrumb-item {
    gap: var(--space-xs);

    a {
      display: flex inline;
      gap: var(--space-xs);
    }
  }
}