@scope (
  .card,
  .nt-card
) {
  :scope {
    --_fill-color: var(--color-layer-1);
    --_text-color: var(--color-text-normal);
    --_corner-radius: var(--corner-radius-m);
    --_stroke-width: var(--stroke-width-s);
    --_stroke-style: var(--stroke-style);
    --_stroke-color: var(--color-stroke-subtle, var(--color-neutral-stroke-subtle));
  }

  :scope {
    display: flex block;
    flex-flow: column;
    contain: content;
    block-size: var(--card-height, fit-content);
    inline-size: var(--card-width, fit-content);

    color: var(--_text-color);
    background-color: var(--_fill-color);
    border-width: var(--_stroke-width);
    border-style: var(--_stroke-style);
    border-color: var(--_stroke-color);
    border-radius: var(--_corner-radius);
    corner-shape: var(--corner-shape, round);
  }

  .media > * {
    border-radius: 0;
  }

  .title {
    padding-block-start: var(--space-2xs);
    padding-inline: var(--space-xs);
  }

  .actions {
    display: flex block;
    padding: var(--space-xs);

    > :is(button) {
      flex: 1 1 auto;
    }
  }

  &[clickable] {
    position: relative;

    &:has(:focus-visible) {
      outline: var(--focus-ring);
      outline-offset: var(--focus-ring-offset);
    }

    :is(button, a):focus-visible {
      outline: none;
    }

    :is(button, a)::after {
      content: '';
      position: absolute;
      inset: 0;
      block-size: 100%;
      inline-size: 100%;
      border-radius: inherit;
      z-index: 2;
    }
  }
}