:where(button, input[type="button"], input[type="submit"], input[type="reset"], .button) {
  display: flex inline;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  gap: var(--space-xs);

  font-family: inherit;
  font-size: var(--form-control-value-font-size);
  font-weight: var(--font-weight-semibold);
  line-height: calc(var(--form-control-height) - var(--stroke-width) * 2);
  cursor: var(--cursor-pointer, pointer);
  user-select: none;
  text-decoration: none;
  white-space: nowrap;
  
  block-size: var(--form-control-height);
  padding-inline: var(--form-control-padding-inline);

  color: var(--color-on-strong, var(--color-neutral-on-strong));
  background-color: var(--color-fill-strong, var(--color-neutral-fill-strong));
  border-color: transparent;
  border-style: var(--stroke-style);
  border-width: max(1px, var(--form-control-stroke-width));
  border-radius: var(--form-control-corner-radius);
  corner-shape: var(--corner-shape, round);

  &:not(:disabled):hover {
    color: var(--color-on-strong, var(--color-neutral-on-strong));
    background-color: color-mix(
      in oklab,
      var(--color-fill-strong, var(--color-neutral-fill-strong)),
      var(--color-mix-hover)
    );
  }

  &:not(:disabled):active {
    color: var(--color-on-strong, var(--color-neutral-on-strong));
    background-color: color-mix(
      in oklab,
      var(--color-fill-strong, var(--color-neutral-fill-strong)),
      var(--color-mix-active)
    );
  }

  &.stealth {
    color: var(--color-on-subtle, var(--color-neutral-on-subtle));
    background-color: transparent;
    border-color: transparent;

    &:not(:disabled) {
      &:hover {
        color: var(--color-on-subtle, var(--color-neutral-on-subtle));
        background-color: var(--color-fill-subtle, var(--color-neutral-fill-subtle));
      }

      &:active {
        color: var(--color-on-subtle, var(--color-neutral-on-subtle));
        background-color: color-mix(
          in oklab,
          var(--color-fill-subtle, var(--color-neutral-fill-subtle)),
          var(--color-mix-active)
        );
      }
    }
  }

  &.outlined {
    color: var(--color-on-subtle, var(--color-neutral-on-subtle));
    background-color: transparent;
    border-color: var(--color-stroke-strong, var(--color-neutral-stroke-strong));

    &:not(:disabled) {
      &:hover {
        color: var(--color-on-subtle, var(--color-neutral-on-subtle));
        background-color: var(--color-fill-subtle, var(--color-neutral-fill-subtle));
      }

      &:active {
        color: var(--color-on-subtle, var(--color-neutral-on-subtle));
        background-color: color-mix(
          in oklab,
          var(--color-fill-subtle, var(--color-neutral-fill-subtle)),
          var(--color-mix-active)
        );
      }
    }
  }

  &.subtle {
    color: var(--color-on-subtle, var(--color-neutral-on-subtle));
    background-color: var(--color-fill-subtle, var(--color-neutral-fill-subtle));
    border-color: transparent;

    &:not(:disabled) {
      &:hover {
        color: var(--color-on-subtle, var(--color-neutral-on-subtle));
        background-color: color-mix(
          in oklab,
          var(--color-fill-subtle, var(--color-neutral-fill-subtle)),
          var(--color-mix-hover)
        );
      }

      &:active {
        color: var(--color-on-subtle, var(--color-neutral-on-subtle));
        background-color: color-mix(
          in oklab,
          var(--color-fill-subtle, var(--color-neutral-fill-subtle)),
          var(--color-mix-active)
        );
      }
    }

    &.outlined {
      border-color: var(--color-stroke-subtle, var(--color-neutral-stroke-subtle));
    }
  }

  &.accent {
    color: var(--color-on-strong, var(--color-neutral-on-strong));
    background-color: var(--color-fill-strong, var(--color-neutral-fill-strong));
    border-color: transparent;

    &:not(:disabled) {
      &:hover {
        color: var(--color-on-strong, var(--color-neutral-on-strong));
        background-color: color-mix(
          in oklab,
          var(--color-fill-strong, var(--color-neutral-fill-strong)),
          var(--color-mix-hover)
        );
      }

      &:active {
        color: var(--color-on-strong, var(--color-neutral-on-strong));
        background-color: color-mix(
          in oklab,
          var(--color-fill-strong, var(--color-neutral-fill-strong)),
          var(--color-mix-active)
        );
      }
    }
  }

  &.plain {
    color: var(--color-text-normal);
    background-color: transparent;
    padding: 0;

    &:not(:disabled) {
      &:hover {
        background-color: transparent;
        color: var(--color-brand-on-normal);
      }
  
      &:active {
        background-color: transparent;
        color: var(--color-brand-on-subtle);
      }
    }
  }

  &.pill {
    border-radius: var(--corner-radius-pill);
  }

  &:focus {
    outline: none;
  }

  &:focus-visible {
    outline: var(--focus-ring);
    outline-offset: var(--focus-ring-offset);
  }

  &:is(::-moz-focus-inner) {
    border: 0;
  }


  &:disabled {
    opacity: var(--disabled-opacity);
    cursor: not-allowed;

    * {
      pointer-events: none;
    }
  }

  &.icon-only {
    inline-size: var(--form-control-height);
    padding-inline: 0;
  }
}