@scope (
  button,
  input[type="button"],
  input[type="submit"],
  input[type="reset"],
  .nt-button
) {
  :scope {
    --_gap: var(--space-xs);
    --_padding-inline: var(--space-m);
    --_padding-block: var(--space-xs);
    --_fill-color: var(--color-fill-strong, var(--color-neutral-fill-strong));
    --_text-color: var(--color-on-strong, var(--color-neutral-on-strong));
    --_corner-radius: var(--corner-radius-pill);
    --_stroke-style: var(--stroke-style);
    --_stroke-width: var(--stroke-width-s);
    --_stroke-color: var(--_fill-color);
  }

  :scope {
    display: flex inline;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: var(--_gap);

    font-family: inherit;
    font-size: var(--font-size-m);
    font-weight: var(--font-weight-semibold);
    line-height: var(--line-height-normal);
    cursor: var(--cursor-pointer, pointer);
    user-select: none;
    text-decoration: none;
    white-space: nowrap;

    block-size: fit-content;
    inline-size: fit-content;
    padding-inline: var(--_padding-inline);
    padding-block: var(--_padding-block);

    background-color: var(--_fill-color);
    color: var(--_text-color, var(--color-neutral-on-strong));
    border-color: var(--_stroke-color);
    border-style: var(--_stroke-style);
    border-width: var(--_stroke-width);
    corner-shape: var(--corner-shape, round);
    border-radius: var(--_corner-radius);
  }

  /* Element States */
  &:not(:disabled) {
    &:hover {
      border-color: color-mix(
        in oklab,
        var(--_stroke-color),
        var(--color-mix-hover)
      );
      background-color: color-mix(
        in oklab,
        var(--_fill-color),
        var(--color-mix-hover)
      );
    }

    &:active {
      border-color: color-mix(
        in oklab,
        var(--_stroke-color),
        var(--color-mix-active)
      );
      background-color: color-mix(
        in oklab,
        var(--_fill-color),
        var(--color-mix-active)
      );
    }
  }

  &:is(:disabled, [disabled]) {
    opacity: var(--disabled-opacity);
    cursor: var(--cursor-not-allowed, not-allowed);
  }

  /* Variants */
  &.plain {
    --_fill-color: transparent;
    --_text-color: var(--color-on-subtle, var(--color-neutral-on-subtle));
    text-decoration-thickness: 2px;

    &:focus-visible {
      text-decoration: underline dashed;
    }

    &:not(:disabled) {
      &:hover {
        --_text-color: var(--color-on-subtle, var(--color-neutral-on-subtle));
        background-color: var(--_fill-color);
        border-color: var(--_stroke-color);
        text-decoration: underline dashed;
      }

      &:active {
        --_text-color: color-mix(
          in oklab,
          var(--color-on-normal, var(--color-neutral-on-normal)),
          var(--color-mix-active)
        );
        background-color: var(--_fill-color);
        border-color: var(--_stroke-color);
        text-decoration: underline solid;
      }
    }
  }

  &.outlined {
    --_fill-color: transparent;
    --_text-color: var(--color-on-normal, var(--color-neutral-on-normal));
    --_stroke-color: var(--color-stroke-strong, var(--color-neutral-stroke-strong));

    &:not(:disabled) {
      &:hover {
        --_stroke-color: var(--_fill-color);
        --_text-color: var(--color-on-strong, var(--color-neutral-on-strong));
        --_fill-color: var(--color-fill-strong, var(--color-neutral-fill-strong));
      }

      &:active {
        --_stroke-color: var(--_fill-color);
        --_text-color: var(--color-on-strong, var(--color-neutral-on-strong));
        --_fill-color: var(--color-fill-strong, var(--color-neutral-fill-strong));
      }
    }
  }

  &.subtle {
    --_fill-color: var(--color-fill-subtle, var(--color-neutral-fill-subtle));
    --_text-color: var(--color-on-subtle, var(--color-neutral-on-subtle));

    &:not(:disabled) {
      &:hover {
        --_text-color: var(--color-on-subtle, var(--color-neutral-on-subtle));
        --_fill-color: var(--color-fill-subtle, var(--color-neutral-fill-subtle));
      }

      &:active {
        --_text-color: var(--color-on-subtle, var(--color-neutral-on-subtle));
        --_fill-color: var(--color-fill-subtle, var(--color-neutral-fill-subtle));
      }
    }
  }

  &.stealth {
    --_fill-color: transparent;
    --_text-color: var(--color-on-subtle, var(--color-neutral-on-subtle));

    &:not(:disabled) {
      &:hover {
        --_text-color: var(--color-on-subtle, var(--color-neutral-on-subtle));
        --_fill-color: var(--color-fill-subtle, var(--color-neutral-fill-subtle));
      }

      &:active {
        --_text-color: var(--color-on-subtle, var(--color-neutral-on-subtle));
        --_fill-color: var(--color-fill-subtle, var(--color-neutral-fill-subtle));
      }
    }
  }

  /* Icon */
  &:has(svg) {
    &.icon-only {
      --_padding-inline: var(--_padding-block);
  
      svg {
        inline-size: 1lh;
        block-size: 1lh;
        color: currentColor;
      }
    }
  }

  /* Sizes */
  &.small {
    --_gap: var(--space-2xs);
    --_padding-inline: var(--space-s);
    --_padding-block: var(--space-2xs);
    font-size: var(--font-size-s);
  }

  &.large {
    --_padding-inline: var(--space-l);
    --_padding-block: var(--space-s);
    font-size: var(--font-size-l);
  }
}