@custom-selector :--heading h1, h2, h3, h4, h5, h6;
@custom-selector :--media img, picture, video, canvas, svg, iframe;
@custom-selector :--button button, .button, .nt-button, [role="button"], a[href], input[type="button"], input[type="reset"], input[type="submit"];