@layer neutron.color-variant {
  :where(:root), .brand-blue {
    --color-brand-05: var(--color-blue-05);
    --color-brand-10: var(--color-blue-10);
    --color-brand-20: var(--color-blue-20);
    --color-brand-30: var(--color-blue-30);
    --color-brand-40: var(--color-blue-40);
    --color-brand-50: var(--color-blue-50);
    --color-brand-60: var(--color-blue-60);
    --color-brand-70: var(--color-blue-70);
    --color-brand-80: var(--color-blue-80);
    --color-brand-90: var(--color-blue-90);
    --color-brand-95: var(--color-blue-95);
    --color-brand: var(--color-blue-50);
    --color-brand-on: var(--color-blue-on);
  }
  .brand-cyan {
    --color-brand-05: var(--color-cyan-05);
    --color-brand-10: var(--color-cyan-10);
    --color-brand-20: var(--color-cyan-20);
    --color-brand-30: var(--color-cyan-30);
    --color-brand-40: var(--color-cyan-40);
    --color-brand-50: var(--color-cyan-50);
    --color-brand-60: var(--color-cyan-60);
    --color-brand-70: var(--color-cyan-70);
    --color-brand-80: var(--color-cyan-80);
    --color-brand-90: var(--color-cyan-90);
    --color-brand-95: var(--color-cyan-95);
    --color-brand: var(--color-cyan-90);
    --color-brand-on: var(--color-cyan-on);
  }
  .brand-gray {
    --color-brand-05: var(--color-gray-05);
    --color-brand-10: var(--color-gray-10);
    --color-brand-20: var(--color-gray-20);
    --color-brand-30: var(--color-gray-30);
    --color-brand-40: var(--color-gray-40);
    --color-brand-50: var(--color-gray-50);
    --color-brand-60: var(--color-gray-60);
    --color-brand-70: var(--color-gray-70);
    --color-brand-80: var(--color-gray-80);
    --color-brand-90: var(--color-gray-90);
    --color-brand-95: var(--color-gray-95);
    --color-brand: var(--color-gray-20);
    --color-brand-on: var(--color-gray-on);
  }
  .brand-lime {
    --color-brand-05: var(--color-lime-05);
    --color-brand-10: var(--color-lime-10);
    --color-brand-20: var(--color-lime-20);
    --color-brand-30: var(--color-lime-30);
    --color-brand-40: var(--color-lime-40);
    --color-brand-50: var(--color-lime-50);
    --color-brand-60: var(--color-lime-60);
    --color-brand-70: var(--color-lime-70);
    --color-brand-80: var(--color-lime-80);
    --color-brand-90: var(--color-lime-90);
    --color-brand-95: var(--color-lime-95);
    --color-brand: var(--color-lime-95);
    --color-brand-on: var(--color-lime-on);
  }
  .brand-orange {
    --color-brand-05: var(--color-orange-05);
    --color-brand-10: var(--color-orange-10);
    --color-brand-20: var(--color-orange-20);
    --color-brand-30: var(--color-orange-30);
    --color-brand-40: var(--color-orange-40);
    --color-brand-50: var(--color-orange-50);
    --color-brand-60: var(--color-orange-60);
    --color-brand-70: var(--color-orange-70);
    --color-brand-80: var(--color-orange-80);
    --color-brand-90: var(--color-orange-90);
    --color-brand-95: var(--color-orange-95);
    --color-brand: var(--color-orange-70);
    --color-brand-on: var(--color-orange-on);
  }
  .brand-green {
    --color-brand-05: var(--color-green-05);
    --color-brand-10: var(--color-green-10);
    --color-brand-20: var(--color-green-20);
    --color-brand-30: var(--color-green-30);
    --color-brand-40: var(--color-green-40);
    --color-brand-50: var(--color-green-50);
    --color-brand-60: var(--color-green-60);
    --color-brand-70: var(--color-green-70);
    --color-brand-80: var(--color-green-80);
    --color-brand-90: var(--color-green-90);
    --color-brand-95: var(--color-green-95);
    --color-brand: var(--color-green-90);
    --color-brand-on: var(--color-green-on);
  }
  .brand-pink {
    --color-brand-05: var(--color-pink-05);
    --color-brand-10: var(--color-pink-10);
    --color-brand-20: var(--color-pink-20);
    --color-brand-30: var(--color-pink-30);
    --color-brand-40: var(--color-pink-40);
    --color-brand-50: var(--color-pink-50);
    --color-brand-60: var(--color-pink-60);
    --color-brand-70: var(--color-pink-70);
    --color-brand-80: var(--color-pink-80);
    --color-brand-90: var(--color-pink-90);
    --color-brand-95: var(--color-pink-95);
    --color-brand: var(--color-pink-70);
    --color-brand-on: var(--color-pink-on);
  }
  .brand-purple {
    --color-brand-05: var(--color-purple-05);
    --color-brand-10: var(--color-purple-10);
    --color-brand-20: var(--color-purple-20);
    --color-brand-30: var(--color-purple-30);
    --color-brand-40: var(--color-purple-40);
    --color-brand-50: var(--color-purple-50);
    --color-brand-60: var(--color-purple-60);
    --color-brand-70: var(--color-purple-70);
    --color-brand-80: var(--color-purple-80);
    --color-brand-90: var(--color-purple-90);
    --color-brand-95: var(--color-purple-95);
    --color-brand: var(--color-purple-30);
    --color-brand-on: var(--color-purple-on);
  }
  .brand-red {
    --color-brand-05: var(--color-red-05);
    --color-brand-10: var(--color-red-10);
    --color-brand-20: var(--color-red-20);
    --color-brand-30: var(--color-red-30);
    --color-brand-40: var(--color-red-40);
    --color-brand-50: var(--color-red-50);
    --color-brand-60: var(--color-red-60);
    --color-brand-70: var(--color-red-70);
    --color-brand-80: var(--color-red-80);
    --color-brand-90: var(--color-red-90);
    --color-brand-95: var(--color-red-95);
    --color-brand: var(--color-red-70);
    --color-brand-on: var(--color-red-on);
  }
}

