@layer neutron.color-variant {
  :where(:root), .success-green {
    --color-success-05: var(--color-green-05);
    --color-success-10: var(--color-green-10);
    --color-success-20: var(--color-green-20);
    --color-success-30: var(--color-green-30);
    --color-success-40: var(--color-green-40);
    --color-success-50: var(--color-green-50);
    --color-success-60: var(--color-green-60);
    --color-success-70: var(--color-green-70);
    --color-success-80: var(--color-green-80);
    --color-success-90: var(--color-green-90);
    --color-success-95: var(--color-green-95);
    --color-success: var(--color-green-90);
    --color-success-on: var(--color-green-on);
  }
  .success-cyan {
    --color-success-05: var(--color-cyan-05);
    --color-success-10: var(--color-cyan-10);
    --color-success-20: var(--color-cyan-20);
    --color-success-30: var(--color-cyan-30);
    --color-success-40: var(--color-cyan-40);
    --color-success-50: var(--color-cyan-50);
    --color-success-60: var(--color-cyan-60);
    --color-success-70: var(--color-cyan-70);
    --color-success-80: var(--color-cyan-80);
    --color-success-90: var(--color-cyan-90);
    --color-success-95: var(--color-cyan-95);
    --color-success: var(--color-cyan-90);
    --color-success-on: var(--color-cyan-on);
  }
  .success-gray {
    --color-success-05: var(--color-gray-05);
    --color-success-10: var(--color-gray-10);
    --color-success-20: var(--color-gray-20);
    --color-success-30: var(--color-gray-30);
    --color-success-40: var(--color-gray-40);
    --color-success-50: var(--color-gray-50);
    --color-success-60: var(--color-gray-60);
    --color-success-70: var(--color-gray-70);
    --color-success-80: var(--color-gray-80);
    --color-success-90: var(--color-gray-90);
    --color-success-95: var(--color-gray-95);
    --color-success: var(--color-gray-20);
    --color-success-on: var(--color-gray-on);
  }
  .success-blue {
    --color-success-05: var(--color-blue-05);
    --color-success-10: var(--color-blue-10);
    --color-success-20: var(--color-blue-20);
    --color-success-30: var(--color-blue-30);
    --color-success-40: var(--color-blue-40);
    --color-success-50: var(--color-blue-50);
    --color-success-60: var(--color-blue-60);
    --color-success-70: var(--color-blue-70);
    --color-success-80: var(--color-blue-80);
    --color-success-90: var(--color-blue-90);
    --color-success-95: var(--color-blue-95);
    --color-success: var(--color-blue-50);
    --color-success-on: var(--color-blue-on);
  }
  .success-lime {
    --color-success-05: var(--color-lime-05);
    --color-success-10: var(--color-lime-10);
    --color-success-20: var(--color-lime-20);
    --color-success-30: var(--color-lime-30);
    --color-success-40: var(--color-lime-40);
    --color-success-50: var(--color-lime-50);
    --color-success-60: var(--color-lime-60);
    --color-success-70: var(--color-lime-70);
    --color-success-80: var(--color-lime-80);
    --color-success-90: var(--color-lime-90);
    --color-success-95: var(--color-lime-95);
    --color-success: var(--color-lime-95);
    --color-success-on: var(--color-lime-on);
  }
  .success-orange {
    --color-success-05: var(--color-orange-05);
    --color-success-10: var(--color-orange-10);
    --color-success-20: var(--color-orange-20);
    --color-success-30: var(--color-orange-30);
    --color-success-40: var(--color-orange-40);
    --color-success-50: var(--color-orange-50);
    --color-success-60: var(--color-orange-60);
    --color-success-70: var(--color-orange-70);
    --color-success-80: var(--color-orange-80);
    --color-success-90: var(--color-orange-90);
    --color-success-95: var(--color-orange-95);
    --color-success: var(--color-orange-70);
    --color-success-on: var(--color-orange-on);
  }
  .success-pink {
    --color-success-05: var(--color-pink-05);
    --color-success-10: var(--color-pink-10);
    --color-success-20: var(--color-pink-20);
    --color-success-30: var(--color-pink-30);
    --color-success-40: var(--color-pink-40);
    --color-success-50: var(--color-pink-50);
    --color-success-60: var(--color-pink-60);
    --color-success-70: var(--color-pink-70);
    --color-success-80: var(--color-pink-80);
    --color-success-90: var(--color-pink-90);
    --color-success-95: var(--color-pink-95);
    --color-success: var(--color-pink-70);
    --color-success-on: var(--color-pink-on);
  }
  .success-purple {
    --color-success-05: var(--color-purple-05);
    --color-success-10: var(--color-purple-10);
    --color-success-20: var(--color-purple-20);
    --color-success-30: var(--color-purple-30);
    --color-success-40: var(--color-purple-40);
    --color-success-50: var(--color-purple-50);
    --color-success-60: var(--color-purple-60);
    --color-success-70: var(--color-purple-70);
    --color-success-80: var(--color-purple-80);
    --color-success-90: var(--color-purple-90);
    --color-success-95: var(--color-purple-95);
    --color-success: var(--color-purple-30);
    --color-success-on: var(--color-purple-on);
  }
  .success-red {
    --color-success-05: var(--color-red-05);
    --color-success-10: var(--color-red-10);
    --color-success-20: var(--color-red-20);
    --color-success-30: var(--color-red-30);
    --color-success-40: var(--color-red-40);
    --color-success-50: var(--color-red-50);
    --color-success-60: var(--color-red-60);
    --color-success-70: var(--color-red-70);
    --color-success-80: var(--color-red-80);
    --color-success-90: var(--color-red-90);
    --color-success-95: var(--color-red-95);
    --color-success: var(--color-red-70);
    --color-success-on: var(--color-red-on);
  }
}

