@custom-media --motion-ok (prefers-reduced-motion: no-preference);
@custom-media --motion-not-ok (prefers-reduced-motion: reduce);
@custom-media --opacity-ok (prefers-reduced-transparency: no-preference);
@custom-media --opacity-not-ok (prefers-reduced-transparency: reduce);
@custom-media --use-data-ok (prefers-reduced-data: no-preference);
@custom-media --use-data-not-ok (prefers-reduced-data: reduce);

@custom-media --os-dark (prefers-color-scheme: dark);
@custom-media --os-light (prefers-color-scheme: light);

@custom-media --high-contrast (prefers-contrast: more);
@custom-media --low-contrast (prefers-contrast: less);

@custom-media --inverted-colors (inverted-colors: inverted);
@custom-media --forced-colors (forced-colors: active);

@custom-media --portrait (orientation: portrait);
@custom-media --landscape (orientation: landscape);

@custom-media --hd-color (dynamic-range: high) or (color-gamut: p3);

@custom-media --touch (hover: none) and (pointer: coarse);
@custom-media --stylus (hover: none) and (pointer: fine);
@custom-media --pointer (hover) and (pointer: coarse);
@custom-media --mouse (hover) and (pointer: fine);