@layer nt._base {
  :where(:root) {
    --cursor-default: url("../assets/default.png") 4 1, auto;
    --cursor-pointer: url("../assets/pointer.png") 4 1, pointer;
    --cursor-text: url("../assets/text.png") 4 1, text;
    --cursor-move: url("../assets/move.png") 4 1, move;
  }
}