@import "../selectors.postcss";

@layer nt._base {
  :where(:root) {
    --font-family-body: ui-sans-serif, system-ui, sans-serif;
    --font-family-heading: var(--font-family-body);
    --font-family-monospace: ui-monospace, monospace;
    --font-family-longform: ui-serif, serif;

    --font-weight-light: 300;
    --font-weight-normal: 400;
    --font-weight-semibold: 500;
    --font-weight-bold: 600;

    --font-weight-body: var(--font-weight-normal);
    --font-weight-heading: var(--font-weight-bold);
    --font-weight-action: var(--font-weight-semibold);

    --line-height-condensed: 1.2;
    --line-height-normal: 1.6;
    --line-height-expanded: 2;

    --opentype-case: 'case' off;
    --opentype-sinf: 'sinf' off;
    --opentype-smcp: 'smcp' off;
    --opentype-c2sc: 'c2sc' off;

    --link-decoration-default: underline color-mix(in oklab, currentColor 70%, transparent) dotted;
    --link-decoration-hover: underline;

    --font-scale-min: var(--size-scale-min);
    --font-scale-max: var(--size-scale-max);
    --font-base-min: var(--size-base-min);
    --font-base-max: var(--size-base-max);

    --font-size-s: var(--size-s);
    --font-size-m: var(--size-m);
    --font-size-l: var(--size-l);
  }
}