.icon-arrow-big-down {
  --_icon-url: url("./icons.svg#arrow-big-down-icon");
}

.icon-check {
  --_icon-url: url("./icons.svg#check-icon");
}

.icon-cursor-click {
  --_icon-url: url("./icons.svg#cursor-click-icon");
}

.icon-cursor-minimal {
  --_icon-url: url("./icons.svg#cursor-minimal-icon");
}

.icon-link {
  --_icon-url: url("./icons.svg#link-icon");
}