@layer neutron;
@layer neutron.ui, neutron.color-palette, neutron.color-variant, neutron.theme, neutron.base, neutron.utilities;

@import "./root.css" layer(neutron);

@import "./utilities/gap.css" layer(neutron.utilities);
@import "./utilities/layout.css" layer(neutron.utilities);
@import "./utilities/size.css" layer(neutron.utilities);
@import "./utilities/text.css" layer(neutron.utilities);
@import "./utilities/variant.css" layer(neutron.utilities);
@import "./utilities/visually-hidden.css" layer(neutron.utilities);

@import "./themes/default.css";
@import "./root.css";