@layer neutron;
@layer neutron.utilities, neutron.ui, neutron.color-palette, neutron.color-variant, neutron.theme, neutron.base;

@import "./root.css" layer(neutron);

@import "./utilities/gap.css" layer(neutron.utilities);
@import "./utilities/size.css" layer(neutron.utilities);
@import "./utilities/text.css" layer(neutron.utilities);
@import "./utilities/variant.css" layer(neutron.utilities);
@import "./utilities/visually-hidden.css" layer(neutron.utilities);

@import "./themes/default.css";
@import "./root.css";

.test {
  color: oklch(0.7 0.2 random(120deg, 240deg, 180deg, 200deg));
  color: oklch(0.7 0.2 random(100deg, 120deg, 240deg, 180deg));
  color: oklch(0.7 0.2 random(300deg, 180deg, 120deg, 240deg));
  color: oklch(0.7 0.2 random(50deg, 120deg, 240deg, 180deg));
}