@import url("./ui/avatar/avatar.css");
@import url("./ui/badge/badge.css");
@import url("./ui/blockquote/blockquote.css");
@import url("./ui/breadcrumb/breadcrumb.css");
@import url("./ui/button/button.css");
@import url("./ui/callout/callout.css");
@import url("./ui/card/card.css");
@import url("./ui/checkbox/checkbox.css");
@import url("./ui/code/code.css");
@import url("./ui/details/details.css");
@import url("./ui/dialog/dialog.css");
@import url("./ui/form/form.css");
@import url("./ui/input/input.css");
@import url("./ui/list/list.css");
@import url("./ui/media/media.css");
@import url("./ui/menu/menu.css");
@import url("./ui/select/select.css");
@import url("./ui/skeleton/skeleton.css");
@import url("./ui/spinner/spinner.css");
@import url("./ui/switch/switch.css");
@import url("./ui/table/table.css");
@import url("./ui/text/text.css");
@import url("./ui/tooltip/tooltip.css");