:where(table) {
  --cell-padding-block: var(--space-s);
  --cell-padding-inline: var(--space-m);
  
  width: 100%;
  border: none;
  border-collapse: collapse;

  caption {
    color: var(--color-text-subtle);
    font-size: var(--font-size-smaller);

    &:has(+ *) {
      margin-block-end: 0.75em;
    }
  }

  tbody {
    tr {
      border-top: var(--stroke-width-s) var(--stroke-style) var(--color-stroke-subtle);

      :where(table.alt-rows) &:nth-child(odd) {
        background-color: color-mix(in oklab, var(--color-fill-subtle) 60%, transparent);
      }

      &:hover {
        background-color: var(--color-fill-subtle);

        &,
        + tr {
          border-top-color: var(--color-stroke-normal);
        }
      }
    }
  }

  td,
  th {
    text-align: start;
    padding-block: var(--cell-padding-block);
    padding-inline: var(--cell-padding-inline);
  }

  th {
    --cell-padding-block: var(--space-xs);
    font-size: var(--font-size-s);
    font-weight: var(--font-weight-bold);
  }
}