:where(code, samp, var) {
  font-family: var(--font-family-monospace);
  font-size: var(--font-size-smaller);
  background-color: var(--color-overlay-inline);
  border-radius: var(--border-radius-s);
  corner-shape: var(--corner-shape, round);
  padding: 0.125em 0.25em;
}

:where(pre) {
  padding: var(--space-m);
  font-family: var(--font-family-monospace);
  font-size: var(--font-size-smaller);
  white-space: pre;
  background-color: var(--color-overlay-inline);
  border-radius: var(--border-radius-m);
  corner-shape: var(--corner-shape, round);
  overflow-inline: auto;

  & code,
  & samp,
  & var {
    padding: 0;
    font-size: 1em;
    background-color: transparent;
  }

  @media print {
    background: none;
    border: var(--stroke-width-s) solid var(--color-layer-stroke);
  }
}