:where(:root) {
  --field-accent-color: var(--color-brand-50);
  --field-fill-color: var(--color-fill-normal, var(--color-neutral-fill-normal));
  
  --field-stroke-color: var(--color-stroke-normal, var(--color-neutral-stroke-normal));
  --field-stroke-style: var(--stroke-style);
  --field-stroke-width: var(--stroke-width-s);
  --field-corner-radius: var(--corner-radius-s);
  --field-corner-shape: var(--corner-shape, round);
  
  --field-label-color: var(--color-on-normal, var(--color-neutral-on-normal));
  --field-label-font-weight: var(--font-weight-semibold);
  --field-label-line-height: var(--line-height-condensed);

  --field-value-color: var(--color-on-normal, var(--color-neutral-on-normal));
  --field-value-font-weight: var(--font-weight-body);
  --field-value-line-height: var(--line-height-condensed);
  
  --field-hint-color: var(--color-on-subtle, var(--color-neutral-on-subtle));
  --field-hint-font-weight: var(--font-weight-body);
  --field-hint-line-height: var(--line-height-normal);

  --field-placeholder-color: var(--color-on-subtle, var(--color-neutral-on-subtle));
  --field-required-content: "*";
  --field-required-content-color: inherit;

  --field-size: round(
    calc(2 * var(--field-padding-block) + 1em * var(--field-value-line-height)),
    1px
  );
  --field-toggle-size: round(1.25em, 1px);
  --field-padding-block: var(--space-xs);
  --field-padding-inline: var(--space-m);
}