:where(blockquote) {
  position: relative;
  font-family: var(--font-family-longform);
  font-size: var(--font-size-l);
  font-style: italic;
  background-color: var(--color-neutral-fill-subtle);
  color: var(--color-text-normal);
  border-radius: var(--corner-radius-m);
  corner-shape: var(--corner-shape, round);
  padding: var(--space-xl);
  margin: 0 0 var(--space-xl) 0;

  & > :first-child {
    margin-block-start: 0;
  }

  & > :last-child {
    margin-block-end: 0;
  }
}