@layer nt._native {
  @property --container-name {
    syntax: <custom-ident>;
    inherits: false;
    initial-value: none;
  }

  .container {
    --container-inline-size: auto;
    inline-size: 100cqi;
    max-inline-size: var(--container-inline-size);
    margin-inline: auto;

    &.queryable {
      --container-name: unset;
      container-name: var(--container-name);
      container-type: inline-size;
    }

    @supports (x: attr(x type(*))) {
      --container-inline-size: attr(data-width type(<length>), auto);

      &.queryable {
        --container-name: attr(data-name type(<custom-ident>), unset);
      }
    }
  }
}