@layer nt._utilities {
  .icon {
    width: 1em;
    height: 1em;
  }

  .with-icon {
    display: flex inline;
    align-items: center;
    gap: 0.25em;
  }

  .icon-only {
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
}