@layer nt._utilities {
  .icon {
    width: 1cap;
    height: 1cap;
  }

  .lowercase > .icon {
    width: 1ex;
    height: 1ex;
  }

  @container style(font-variant-caps: all-petite-caps) {
    .icon {
      width: 1.1ex;
      height: 1.1ex;
    }
  }

  .with-icon {
    container-type: normal;
    display: flex inline;
    align-items: baseline;
    gap: 1em;
  }
}