@layer nt._utilities {
  .icon {
    width: 1cap;
    height: 1cap;
  }

  .lowercase > .icon {
    width: 1ex;
    height: 1ex;
  }

  @container style(--opentype-smcp: 'smcp' on) and style(--opentype-c2sc: 'c2sc' on) {
    .icon {
      width: 0.9cap;
      height: 0.9cap;
    }
  }

  .with-icon {
    display: flex inline;
    align-items: baseline;
    gap: 0.25em;
  }

  .icon-only {
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
}