@layer nt._native {
  .split {
    --split-gap: var(--size-m, 1em);
    display: flex;
    gap: var(--split-gap);
    justify-content: space-between;
    flex-wrap: wrap;

    > * {
      margin: 0;
    }
  }
}