@layer nt._core {
  .stack {
    --stack-gap: var(--size-m, 1em);
    display: flex;
    flex-direction: column;
    gap: var(--stack-gap);
    justify-content: flex-start;

    > * {
      margin: 0;
    }
  }
}